{% extends "layout.html" %}

{% block title %}Reinicio de contraseña{% endblock %}

{% block content %}
<br><br><br><br><br><br>

<div class="container">

    <h1>Reinicio de contraseña</h1>

    {% if validlink %}

    <p>Por favor, ingrese su nueva contraseña 2 veces:</p>

    <form action="." method="post">
        
        {{ form.as_p }}
        
        {% csrf_token %}
        
        <p><input type="submit" class="btn btn-success mt-3" value="Cambiar mi contraseña" /></p>

    </form>



    {% else %}



    <p>El reinicio de contraseña fue inválido, posiblemente porque este link ya ha sido usado.</p>
    <p>Por favor, solicite un nuevo enlace para la creación de una nueva contraseña, haciendo <a href="{% url 'password_reset' %}">click aquí</a>.</p>



{% endif %}

</div>

{% endblock %}