{% load static %}
<footer class="text-center text-light py-4 footer">

  <div class="container-fluid">
    <!-- <div class="row">
      <div class="col-sm-6">
        <h1 class="fw-light fuente_footer">HS</h1>
      </div>
    </div> -->
  
    <div class="row justify-content-center">
      <div class="col-auto">
        <h6><a class="nav-link" href="{% url 'politicas_privacidad' %}">Política y Privacidad</a></h6>
      </div>
      <div class="col-auto">
        <h6><a class="nav-link" href="{% url 'e_contacto:contacto' %}">Publícate o Consulta</a></h6>
      </div>
    </div>
  
    <p class="mt-4 text-center">©2025 HoraSex.com</p>
  </div>
    
</footer>