{% extends 'layout.html' %}

{% block content %}
<br><br><br><br><br><br>

<div class="container col-lg-5">
        <div class="shadow p-3 mb-5 rounded text-center" style="background-color:#e5e9ec"></div>
        <p class="shadow p-3 mb-5 rounded text-center fs-2" style="background-color:#e5e9ec">Política de Privacidad</p>

        <p><strong>HORASEX.COM</strong> es un sitio es sólo y exclusivamente para mayores de 18 años, tanto para las personas que están o quieren ser publicadas como para los visitantes.</p>
        <p>No somo una agencia y no tenemos relación o vinculación laboral con los anunciantes.</p>
        <p>Las publicaciones son realizadas por expresa voluntad de los anunciantes.</p>
        <p>Todas las personas que están publicadas son mayores de edad y han sido verificadas como reales.</p>
        <p><strong>HORASEX.COM</strong> es un medio publicitario. NO certificamos a las modelos, ni los servicios que aparecen en las Agencias.</p>
        <p><strong>HORASEX.COM</strong> es un medio digital que se encuentra presente en diferentes países de Latinoamérica, nos dedicamos a la publicación de escorts. 
            Nuestro objetivo es ofrecer una plataforma que entregue información sobre acompañantes.</p>
        <p>Para nosotros es importante el respeto e independencia en el trabajo de las y los acompañantes. 
            Nos comprometemos a validar la información que esta en nuestro sitio para asegurar un servicio de calidad a nuestros visitantes.</p>
        <p><strong>Al utilizar nuestro sitio web, confirmas que eres mayor de 18 años. Si no tienes la edad requerida, por favor, no uses este sitio.</strong></p>
        
        <p>Nuestro horario de atención para consultas, publicaciones y modificaciones es de lunes a viernes de 9:30 a 18:30hrs y sábado de 10:30 a 14:30hrs.</p>
</div>
{% endblock %}